<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <center>
    <div class="top-logo">
      <img src="<%= asset_path "inform_Backet_white2.png" %>">
    </div>
    <h2>
      <div class="introduction">
        InformBacketへようこそ！<br>
        InformBacketはSXD研究室内での情報共有を円滑に行うために開発されたものです！<br>
        開発メンバーは市川俊樹、河本周時、小山剣、比留間彩の4人です！<br>
        さあ、早速情報を共有しましょう！！
      </div>
    </h2>
  </center>
</body>
</html>
